
# settings
local.settings.json

# files for local/workstation testing
build-container.sh
build-local.sh
fetch-app-settings.sh
local.settings.json
pyvenv.cfg
start-local.sh

# localhost virtual environment
bin/
lib/
include/
man/
